.heading {
    text-align: center;
    font-size: 18px;
}

.question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    font-size: 16px;
    text-align: center;
}

